{% extends 'base.html.twig' %}

{% block title %}All Players{% endblock %}

{% block body %}
    <div class="m-3">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Team</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players.results %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td> {{ player.name }} {{ player.surname }}</td>
                    <td>{{ player.team.name }}</td>
                    <td class="text-center">
                        <a href="{{ path('app_sale_initiate', {'player':player.publicId}) }}">
                            Initiate Transfer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'pagination.html.twig' with {'paginator': players, 'pathName' : 'app_player_index'} only %}
    </div>
{% endblock %}
