{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="card my-5 mx-auto" style="width: 30%;">
        <form method="post" class="m-5">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <label for="inputUsername" class="my-3">Username <b>demo</b></label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                   placeholder="demo12345" autocomplete="username" required autofocus>
            <label for="inputPassword" class="my-3">Password <b>demo12345</b></label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                   placeholder="demo12345!" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-primary my-3" type="submit">
                Sign in
            </button>
        </form>
    </div>
{% endblock %}
